.swiper {
  width: 80%;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper_slide img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .swiper {
    width: 70%;
  }
  
  .swiper_slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper_slide img {
    display: block;
    width: 100%;
  }
  
}